<div class="container mt-4">
  <h2>Imágenes de galaxias</h2>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Centro</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let galaxia of galaxias">
        <td>{{ galaxia.data?.[0]?.title }}</td>
        <td>{{ galaxia.data?.[0]?.center }}</td>
        <td>
          <button class="btn btn-primary" (click)="mostrarImagen(galaxia)">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="imagenSeleccionada">
    <h4>Imagen:</h4>
    <img [src]="imagenSeleccionada" alt="Imagen NASA" class="img-fluid" />
  </div>
</div>
